main p {
  color: #505F7B;
}



/* POSITION */
.mr-position-relative {
  position: relative;
}

/* PADDING */
.mr-padding-20-10 {
  padding: 20px 10px;
}

.mr-padding-80 {
  padding: 80px 0;
}

.mr-padding-top-6 {
  padding-top: 6px;
}

.mr-padding-top-15 {
  padding-top: 15px;
}

.mr-padding-top-20 {
  padding-top: 20px;
}

.mr-padding-top-40 {
  padding-top: 40px;
}

.mr-padding-bottom-40 {
  padding-bottom: 40px;
}

.mr-padding-bottom-80 {
  padding-bottom: 80px;
}

/* MARGIN */
.mr-margin-20 {
  margin: 20px 0;
}
.mr-margin-top-10 {
  margin-top: 10px;
}
.mr-margin-top-30 {
  margin-top: 30px;
}

.mr-margin-left-10 {
  margin-left: 10px;
}
.mr-margin-left-0 {
  margin-left: 0;
}
.mr-margin-right-0 {
  margin-right: 0;
}

/* TEXT */
/* FONT SIZE */
.mr-font-size-60 {
  font-size: 60px;
}

.mr-font-size-20 {
  font-size: 20px;
}
.mr-font-size-23 {
  font-size: 23px;
}

/* TEXT DECORATION */
.mr-underline {
  text-decoration: underline;
}

/* COLOR */
.mr-white {
  color: #fff;
}
.mr-drk-blue {
  color: #001638;
}
.mr-blue {
  color: #0059E9;
  border-color: #0059E9;
}
.mr-light-blue {
  color: #408FFA;
}

.mr-grey {
  color: #505F7B;
}

/* BACGKGROUND COLOR */
.mr-background-white {
  background-color: #fff;
}
.mr-background-light-blue {
  background-color: #408FFA;
}
.mr-background-light-grey {
  background-color: #F1F3F8;
}

/* nav */
nav {
  height: 65px;
  padding-top: 25px;
}
.mr-fixed-nav {
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 999;
}

 .mr-nav-logo img{
  width: 60%;
}
@media all and (max-width: 991px) {
  .mr-nav-logo img{
    width: 200px;
  }
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 19px;
}

nav a {
  text-decoration: none;
  color: inherit;
}


nav a:visited {
  text-decoration: none;
  color: inherit;
} 
nav a:link {
  text-decoration: none;  
}
nav a:hover {
  text-decoration: none;
  color: #00D1CB;
}

#mr-burger-collapse li {
  display: block;
  margin: 20px 0;
  width: 100%;
}


/* JUMBOTRON */

.mr-jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;  
}


.mr-jumbotron-box {
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
}

.mr-google-icon img{
  position: absolute;
  left: 2%;
  width: 20px;
}

/* innovate */
#innovative [class*="col-"] {
  padding: 0;
  margin: 0;
}

#innovative img {
  width: 90%;
  height: 100px;
  padding: 0;
}

/* SIDE BAR */
.mr-left-bar {
  padding-left: 80px;
}
.mr-left-bar li {
  list-style: none;
  color: #505F7B;
  padding: 10px;
  border-left: solid 1px;
  border-color: lightgrey;
}

@media all and (max-width: 991px) {
  .mr-left-bar {
    padding-left: 0;
  }
  
}


/* for-developers */
#for-developers img {
  width: 53%;
}

.mr-arrow {
  display: inline-block;
  vertical-align: middle;
  margin: 55px 25px 0;
  font-size: 35px;
}

.mr-arrow-left {
  opacity: 0.5;
}

.mr-carousel {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: solid 1px;
  border-radius: 50%;
  border-color:inherit;
}